.buttonBlock {
    margin-top: 31px;
    display: flex;
    justify-content: center;
    gap: 30px;
    color: #ffffff;
    margin-left: 304px;
    font-size: 25px;
    padding-bottom: 25px;
}
.buttonBlock button {
    text-decoration: none;
    border: 1px solid #e52017;
    background: #e52017;
    color: #ffffff;
    padding: 3px 6px;
    font-size: 12px;
    width: 60px;
    cursor: pointer;
    border-radius: 20px 0;
}